# Variables de entorno
.env

# Entorno virtual
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak
release/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log